
<link rel="stylesheet" href="<%= assestPath('/css/home.css')%> ">
<link rel="stylesheet" href="<%= assestPath('/css/chat_box.css')%>">
<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>

                <div id="posts-list-container">
                    <ul>
                        <% for(post of posts){ %>

                            <li id="post-<%= post._id %>">
                                <p>
                                    <% if (locals.user && locals.user.id==post.user.id){ %>
                                        <small>
                                            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                              </svg></a>
                                        </small>
                                        <% } %>
                                            <%= post.content %>
                                                <br>
                                                <small>
                                                    <%= post.user.name %>
                                                </small>
                                                <br>
                                                <small>
                                                    <% if(locals.user) {%>
                                                        <a class="toggle-like-button" data-likes="<%=post.likes.length%>" href="/likes/toggle/?id=<%=post._id %>&type=Post">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                                              </svg>
                                                            <%=post.likes.length%> 
                                                        </a>
                                                        <%} else {%>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                                              </svg>
                                                            <%= post.likes.length%> 
                                                                <%}%>
                                                </small>
                                </p>
                                <div class="post-comments">
                                    <% if (locals.user){ %>
                                        <form action="/comments/create" method="POST">
                                            <input type="text" name="content" placeholder="Type Here to add comment..."
                                                required>
                                            <input type="hidden" name="post" value="<%= post._id %>">
                                            <input type="submit" value="Add Comment">
                                        </form>

                                        <% } %>

                                            <div class="post-comments-list">
                                                <ul id="post-comments-<%= post._id %>">
                                                    <% for (comment of post.comments){%>

                                                        <p>
                                                            <% if ((locals.user && locals.user.id==comment.user.id)){ %>
                                                                <small>
                                                                    <a href="/comments/destroy/<%= comment.id %>"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                                                      </svg></a>
                                                                </small>
                                                                <% } %>

                                                                    <%= comment.content %>
                                                                        <br>
                                                                        <small>

                                                                            <%= comment.user.name%>
                                                                        </small>
                                                                        <br>
                                                                        <small>
                                                                            <% if(locals.user) {%>
                                                                                <a class="toggle-like-button" data-likes="<%=comment.likes.length%>" href="/likes/toggle/?id=<%=comment._id %>&type=Comment">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                                                                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                                                                      </svg>
                                                                                    <%=comment.likes.length%> 
                                                                                </a>
                                                                                <%} else {%>
                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                                                        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                                                                      </svg>
                                                                                    <%= comment.likes.length%>
                                                                                        <%}%>
                                                                        </small>
                                                        </p>
                                                        <%} %>
                                                </ul>
                                            </div>
                                </div>

                            </li>

                            <%} %>
                    </ul>
                </div>
    </section>

    <section id="user-friends">
        <% if(locals.user) {%>
        <h4>
            Friends
            <%for (u of all_users) {%>

                <p>
                    <a href="/users/profile/<%= u.id%>">
                        <%= u.name%>
                    </a>
                </p>

                <%}%>
                <%}%>
        </h4>
    </section>
<%- include('_chat_box') -%>
</div>

<script src="<%= assestPath('/js/home_post_comments.js') %>"></script>
<script src="<%= assestPath('/js/home_posts.js') %>"></script>
<script src="<%= assestPath('/js/toggle_likes.js') %>"></script>
<script>
     $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="<%= assestPath('/js/chat_engine.js') %>"></script>
<script>
    <% if(locals.user) {%>
    new ChatEngine('user-chat-box','<%=locals.user.email%>')
    <%}%>
</script>

